.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .post{
  s
} */

/* globale style */

*{
padding: 0;
margin: 0;
}

:root{
  --color-text:#F1F1F1;
  --color-black:#100F0F;
  --color-blue:#0F3D3E;
  --color-white:#E2DCC8;
}
body{
  background-color: var(--color-black)!important;
  color: var(--color-text);
}
.all-modal{
  color: var(--color-text);
}
/* syle navbar */
.navbar{
background-color: var(--color-blue)!important;
}

.logo-nav{
  width: 100px;
  height: 50px;
  object-fit: contain;
}

.logo-nav:hover{
  transition-duration: 0.7s;
  transform: rotate(1turn);
}

.postCard{
justify-content: center!important;
}

.btnt{
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: none;
  color: var(--color-text)!important;
}
.btnt:hover{
  color:var(--color-black)!important;
}

.login{
  color: var(--color-text)!important;
  float:right!important;
  background-color:#61dafb!important;
}

.login:hover{
  color: var(--color-black) !important;
  background-color:#76d8f3!important;
}

/* style post */
.post{
  text-align: start!important;
  margin: 20px 0!important;
  background-color: var(--color-blue)!important;
  color:var(--color-text)
}

.post img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.post-name{
  flex: 1;
  padding-left: 10px;
}

.post-text{
  padding-left:15px ;
}

.body-card-post{
  padding-bottom: 0!important;
}

.imge-owner-post{
  width: 40px!important;
  height: 40px!important;
  border-radius: 50%;
}
.owner-post-row{
display: flex;
align-items: center;
margin: 15px 0;
padding-left: 10px;
}

/* style comment */

.commentNon{
  text-align: center;
}

.comment-row{
  display:flex;
  margin-left: 20px;
}
.coment-post{
margin-left: 16px;
line-break: anywhere;
}

.coment-post p{
  padding-left: 5px;
  flex: 1;
}

.row-poenter-comment{
  width: 25px;
  height: 22px;
}

.formComent button{
  background: #76d8f3;
}

.formComent{
  display:flex;
  height: 2rem;
  align-items: center;
  
}

.formComent input[type="text"]{
  flex: 1;
  color:var(--color-black)!important;
}

.formComent button{
  width: 40px!important;
  background: none!important;
  border: none;
  padding: 0!important;
  
}

.icon-comment{
margin: auto!important;
width: 100px!important;
height: 40px;
color:var(--color-black)!important;
margin-bottom: 5px!important;
}

.icon-comment:hover{
  transition-duration: 0.5s;
  transform: rotate(360deg);
}

.icon-hiden{
  display: flex;
  justify-content: flex-end;
  padding-right:16px ;
}
.icon-hiden:hover{
  cursor: pointer;
  color:var(--color-black);
}


.comment-owner{
  display: flex;
  align-items:flex-end;
}

.imge-comment{
width: 40px!important;
height: 40px!important;
border-radius: 50%;
}

.edit-comment, .delete-comment{
width: 20px;
height: 30px;
}

.delete-comment{
  width: 20px;
  height: 30px;
}
.delete-comment:hover{
color: red!important;
cursor: pointer;
}

.edit-comment:hover{
  color:var(--color-black);
  cursor: pointer;
}


/* style form add post */

.formAddPost{
 background-color: var(--color-blue)!important;
}

#titlePost,#imgUrl,#ContentPost{
  color: var(--color-black)!important;
}

.post-name button{
  float: right;
  padding-right:16px ;
  background: none;
  border: none;
}

.post-name button:hover{
  transition-duration: 0.5s;
  transform: rotate(1turn);
  color: red!important;
  cursor: pointer;
}

.edit-post-icon{
  width: 20px;
  height: 30px;
}

.edit-post-icon:hover{
  color:var(--color-black);
  cursor: pointer;
}

/* style not authorize modale */

.no-auth{
  background-color: var(--color-blue)!important;
}

.no-auth button{
  color: var(--color-text)!important;
}

.no-auth button:hover{
  color: var(--color-black)!important;
}
